body {
	background-color: #E6E6E6;
}

h1 {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: big;
	margin: 0 0 10px 8px;
	padding:0;
}

h2 {
	color: #0099FF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: medium;
	margin: 0 0 10px 8px;
	padding:0;
}

img {
	border: 0;
}

form {
	margin: 0;
	padding: 0;
}

#container {
	width: 640px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #CCCCCC;
	padding: 9px;
	background-color:#FFFFFF;

}

#breadcrumbs {
	color: #6699FF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:small;
	margin: 0 0 8px 8px;
}

#breadcrumbs a, #breadcrumbs a:visited, #breadcrumbs a:link, #breadcrumbs a:active {
	color: #6699FF;
	text-decoration:none;
}

#breadcrumbs a:hover {
	text-decoration:underline;
}

#listingcontainer {
	background-image:url(bg.gif);
	padding: 10px;
	background-color:#E0DEDE;
}

#listingheader {
	color: #476BB3;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	text-align:right;
}

#listingheader a, #listingheader a:active, #listingheader a:visited, #listingheader a:link {
	text-decoration: none;
	color: #476BB3;
}

#listingheader a:hover {
	text-decoration: underline;
	color: #476BB3;
}

#menu{
	color: #476BB3;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
        padding: 10px;
}


#menu a, #listingheader a:active, #listingheader a:visited, #listingheader a:link {
	text-decoration: none;
	color: #476BB3;
}

#menu a:hover {
	text-decoration: underline;
	color: #476BB3;
}

#subtitle{
	color: #666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
}

#subtitle a, #listingheader a:active, #listingheader a:visited, #listingheader a:link {
	text-decoration: none;
        font-weight:bold;
	color: #666666;
}

#subtitle a:hover {
	color: #476BB3;
}

#headerfile {
	text-align:left;
	float: left;
	width: 320px;
}

#headersize {
	text-align:right;
	width: 75px;
	float: left;
}

#cev_results{
        display: none;
}

#listing {
	border: 1px solid #A7C5FF;
}
#listing {
	display:block;
	padding: 2px 5px 2px 5px;
	font-size:small;
	color: #6285CA;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	width:568px;
	text-align:right;

}

#listing a {
	display:block;
	padding: 2px 5px 2px 5px;
	font-size:small;
	color: #6285CA;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	width:568px;
	text-align:right;

}

#listing a:hover {
	background-color:#DBE6FE;
}

#listing  img {
	float:left;
	margin-right: 4px;
}



#listing  strong {
	width: 300px;
	float:left;
	cursor:hand;
	cursor:pointer;
	text-align:left;
}

#listing  em {
	float: left;
	width: 75px;
	text-align:right;
	cursor:hand;
	cursor:pointer;
}

#listing  span {
	position: absolute;
	margin-left: -151px;
	margin-top: -2px;
}

#listing a span img {
	width: 150px;
	background-color:#CCCCCC;
	visibility: hidden;
}

#listing a:hover span img {
	border: 1px solid #666666;
	visibility: visible;
}

#upload {
	border: 1px solid #A7C5FF;
	display:block;
	margin-top: 10px;
	font-size:small;
	color: #6285CA;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	width:568px;
	background-color: #E9F0FF;
}

#uploadtitle {
	background-color: #DBE6FE;
	padding: 2px 5px 2px 5px;
	border-bottom: 1px solid #A7C5FF;

}

#uploadcontent {
	padding: 2px 5px 2px 5px;
}


#copy {
	width: 600px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size:x-small;
	color: #666666;
	font-family:Arial, Helvetica, sans-serif;
}

#copy a {
	text-decoration: underline;
	color: #666666;
}

.b {
	background-color: #E9F0FF;

}

.w {
	background-color:#FFFFFF;
}

.mod {
	float:right;
}

.size {
	float:right;
}
